.label-cart {
    background: var(--ion-color-primary);
    width: 15px;
    height: 15px;
    padding: 2px;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    margin: 7px;
}

.text-toolbar {
    width: 220px;
}