<app-header-tabs [isTab]="true" [titulo]="titulo"></app-header-tabs>
<ion-toolbar class="tab-margin-sin-toolbar " mode="md">
    <ion-searchbar class="toolbar-buscar" placeholder="Buscar que hay para hacer..." animated [debounce]="700" [value]="textoBuscar" (ionChange)="buscar($event)" mode="ios"></ion-searchbar>
</ion-toolbar>

<ion-content fullscreen>
    <ion-grid *ngIf="buscando">
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="servicios.length === 0">
        <ion-list-header mode="ios">
            <ion-label>Lo ultimo que buscaste</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let idea of ideas" (click)="textoBuscar = idea">
            <ion-label color="secondary">{{idea}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-grid class="grid-servicios">
        <ion-row>
            <ion-col *ngFor="let servicio of servicios" size="12" size-sm="12" size-md="6">
                <app-item-servicio [servicio]="servicio"></app-item-servicio>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>