ion-col {
    padding: 0px;
}

.margin-container {
    margin-bottom: 60px;
}

.audio-himno {
    width: 100%;
}

.fab-button {
    font-size: x-small;
    font-weight: 700;
}

.position {
    bottom: 0px;
    right: 0px;
}