.tamano-slide {
    height: 30vh;
    background-size: cover;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
    background-position: top;
    background-repeat: space;
    ion-row {
        width: 100%;
        height: 100%;
        align-content: center;
    }
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next {
    color: var(--ion-color-primary);
    background-image: inherit;
    height: fit-content;
    right: 0;
    top: 60%;
    zoom: 2;
}

.swiper-button-prev {
    color: var(--ion-color-primary);
    background-image: inherit;
    height: fit-content;
    top: 60%;
    zoom: 2;
}