ion-col {
    margin: 0px;
}

.image-card {
    margin: 0px;
    height: 85px;
    background-size: cover;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    background-position: center;
}

.nombre {
    font-size: 14px;
}

.descripcion {
    font-size: 10px;
}

.precio {
    font-weight: bold;
    color: #000000;
}